<div class="container mx-auto p-2 p-6 grid grid-cols-2 gap-4">
    <div class="bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Alerte stock médicaments</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Nom</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ibuprofène</td>
                    <td class="text-center px-4">3</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">Stock faible</span></td>
                </tr>
                <tr>
                    <td>Amoxicilline</td>
                    <td class="text-center px-4">0</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">Rupture de stock</span></td>
                </tr>
                <tr>
                    <td>Furosémide</td>
                    <td class="text-center px-4">8</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">Stock faible</span></td>
                </tr>
                <tr>
                    <td>Morphine</td>
                    <td class="text-center px-4">2</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">Rupture de stock</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Card Alerte Stock Instruments Médicaux -->
    <div class="bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Alerte stock instruments médicaux</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Nom</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ecarteur</td>
                    <td class="text-center px-4">0</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">Rupture de stock</span></td>
                </tr>
                <tr>
                    <td>Pince chirurgicale</td>
                    <td class="text-center px-4">0</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">Rupture de stock</span></td>
                </tr>
                <tr>
                    <td>Seringue</td>
                    <td class="text-center px-4">2</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">Stock faible</span></td>
                </tr>
                <tr>
                    <td>Pince hémostatique</td>
                    <td class="text-center px-4">10</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">Stock faible</span></td>
                </tr>
                <tr>
                    <td>Ciseaux chirurgicaux</td>
                    <td class="text-center px-4">12</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">Stock faible</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-span-2 bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Dernière commandes</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Numéro</th>
                    <th>Date</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="items-center">
                    <td>1</td>
                    <td class="text-center px-4">01/10/2024</td>
                    <td class="text-center px-4">5</td>
                    <td class="text-center px-4"><span class="bg-green-200 text-green-600 px-2 py-1 rounded">Fini</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="text-center px-4">11/10/2024</td>
                    <td class="text-center px-4">10</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">En cours</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="text-center px-4">01/11/2024</td>
                    <td class="text-center px-4">15</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">À préparer</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>