<div class="container mx-auto p-2 p-6 grid grid-cols-2 gap-4 bg-base-200">
    <div class="bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Alerte stock médicaments</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Nom</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of medicationAlerts">
                    <td>{{ item.name }}</td>
                    <td class="text-center px-4">{{ item.quantity }}</td>
                    <td class="text-center px-4"><span [ngClass]="getStatusClass(item.statut)" class="px-2 py-1 rounded">{{ item.statut }}</span></td>
                </tr>
                <tr *ngIf="medicationAlerts.length === 0">
                    <td colspan="3" class="text-center text-gray-400 py-2">Aucune alerte</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Card Alerte Stock Instruments Médicaux -->
    <div class="bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Alerte stock instruments médicaux</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Nom</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of instrumentAlerts">
                    <td>{{ item.name }}</td>
                    <td class="text-center px-4">{{ item.quantity }}</td>
                    <td class="text-center px-4"><span [ngClass]="getStatusClass(item.statut)" class="px-2 py-1 rounded">{{ item.statut }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-span-2 bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-2">Dernière commandes</h2>
        <hr class="border-black">
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="text-left">Numéro</th>
                    <th>Date</th>
                    <th>Quantités</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="items-center">
                    <td>1</td>
                    <td class="text-center px-4">01/10/2024</td>
                    <td class="text-center px-4">5</td>
                    <td class="text-center px-4"><span class="bg-green-200 text-green-600 px-2 py-1 rounded">Fini</span></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="text-center px-4">11/10/2024</td>
                    <td class="text-center px-4">10</td>
                    <td class="text-center px-4"><span class="bg-yellow-200 text-yellow-600 px-2 py-1 rounded">En cours</span></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="text-center px-4">01/11/2024</td>
                    <td class="text-center px-4">15</td>
                    <td class="text-center px-4"><span class="bg-red-200 text-red-600 px-2 py-1 rounded">À préparer</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>