name: Dart CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  checkout:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

  install_flutter:
    runs-on: ubuntu-latest
    needs: checkout

    steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'

  set_env_vars:
    runs-on: ubuntu-latest
    needs: install_flutter

    steps:
      - name: Set up environment variables
        working-directory: mobile
        env:
          API_URL_ANDROID: ${{ secrets.API_URL_ANDROID }}
          API_URL_IOS: ${{ secrets.API_URL_IOS }}
        run: | 
          echo "API_URL_ANDROID=${{ secrets.API_URL_ANDROID }}" >> mobile/.env
          echo "API_URL_IOS=${{ secrets.API_URL_IOS }}" >> mobile/.env

  install_dependencies:
    runs-on: ubuntu-latest
    needs: set_env_vars

    steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
      - name: Install dependencies
        working-directory: mobile
        run: flutter pub get

  analyze:
    runs-on: ubuntu-latest
    needs: install_dependencies

    steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
      - name: Analyze project source
        working-directory: mobile
        run: flutter analyze

  test:
    runs-on: ubuntu-latest
    needs: analyze

    steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
      - name: Run tests
        working-directory: mobile
        run: flutter test
        continue-on-error: true

  #build_android:
  #  runs-on: ubuntu-latest
  #  needs: test
#
  #  steps:
  #    - uses: actions/checkout@v4
  #    - name: Install Flutter
  #      uses: subosito/flutter-action@v2
  #      with:
  #        flutter-version: '3.24.3'
  #    - name: Build Android project
  #      working-directory: mobile
  #      run: flutter build appbundle
#
  #    - name: Upload to Google Play
  #      uses: r0adkll/upload-google-play@v1
  #      with:
  #        serviceAccountJson: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}
  #        packageName: ${{ secrets.PACKAGE_NAME }}
  #        releaseFile: mobile/build/app/outputs/bundle/release/app-release.aab
  #        track: internal
#
  #build_ios:
  #  runs-on: macos-latest
  #  needs: test
#
  #  steps:
  #    - uses: actions/checkout@v4
  #    - name: Install Flutter
  #      uses: subosito/flutter-action@v2
  #      with:
  #        flutter-version: '3.24.3'
  #    - name: Build iOS project
  #      working-directory: mobile
  #      run: flutter build ios --release --no-codesign
#
  #    - name: Upload to App Store
  #      uses: maierj/fastlane-action@v2.0.1
  #      with:
  #        lane: ios release
  #      env:
  #        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  #        APP_STORE_CONNECT_API_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY }}
  #        APP_STORE_CONNECT_API_ISSUER: ${{ secrets.APP_STORE_CONNECT_API_ISSUER }}
  #        APP_STORE_CONNECT_API_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
  #        APP_STORE_CONNECT_TEAM_ID: ${{ secrets.APP_STORE_CONNECT_TEAM_ID }}
  #        APP_STORE_CONNECT_BUNDLE_ID: ${{ secrets.APP_STORE_CONNECT_BUNDLE_ID }}